{% extends 'base.html.twig' %}

{% block body %} 

<div class= "container mt-5" > 

<h1> Inscription </h1>

    {{form(registerForm) }}

    <br/>
    Vous avez déja un compte ? <a href="{{ path('app_login') }}"> connectez-vous</a>
    <hr style="border: none;">
</div>

{% endblock %}  